.usertab {
    /* height: 400px; */
    padding:0px 10px 0px 10px; 
} 

.user-upload-list {
    overflow: auto;
    /* height: 380px; */
}

.collaspe-panel {
    /* background-color: #f7f7f7; */
    border-style: none;
    overflow: 'hidden';
}