.trackscene {
    background-color: #FDC209;
}

.scenetracks {
    padding-left: 8px;
    padding-top: 8px;
}

#track-editor-header {
    height: 40px;
    background-color: #FDC209;
    padding-left: 16px;
    padding-top: 4px;
    font-size: 20px;
}