.action-sequence-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 60px;
    background-color: #ffffff;
    padding-left: 12px;
    padding-top: 4px;
}