.animationcard {
    border-radius: 4px;
    height: 36px;
    border-style: solid;
    border-color: #D8D8D8;
    border-width: 1px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 8px;
}