#editpane {
    /* border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #FFC107; 
    border-right-color: #FFC107;  */
    text-align: center;
}

#canvasContainer {
    /* height: 450px; */
    width: 800px;
     /* border-style: solid;
    border-color: #FFC107;
    border-width: 1px;  */
    text-align: center;
    margin: 0 auto;
}

#edittoolbar {
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #FFC107;
}

#playcontrol {
    /* margin-bottom: 1px; */
    height: 50px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #FFC107;
    
}